name: RFAM SQL Queries

on:
  push:
    paths:
      - query1.sql
      - query2.sql

jobs:
  run-queries:
    runs-on: ubuntu-latest
    env:
      MYSQL_HOST: mysql-rfam-public.ebi.ac.uk
      MYSQL_PORT: 4497
      MYSQL_USER: rfamro
      MYSQL_DATABASE: Rfam
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install MySQL client
        run: sudo apt-get install -y mysql-client

      - name: start query 1
        run: |
          mysql --user=$MYSQL_USER --host=$MYSQL_HOST --port=$MYSQL_PORT --database=$MYSQL_DATABASE < query1.sql

      - name: start query 2
        run: |
          mysql --user=$MYSQL_USER --host=$MYSQL_HOST --port=$MYSQL_PORT --database=$MYSQL_DATABASE < query2.sql
